style
    include carousel.scss

.center
    div.carousel-item
        .item-position
            img.nike-img(src='assets/img/Layer51.jpg')
            p.nike-title Nike shoes   Shop Outdoors
            p.nike-cent $ 125
    div.carousel-item
        .item-position
            img.nike-img(src='assets/img/Layer52.jpg')
            p.nike-title Nike shoes   Shop Outdoors
            p.nike-cent $ 260
    div.carousel-item
        .item-position
            img.nike-img(src='assets/img/Layer54.jpg')
            p.nike-title Nike shoes   Shop Outdoors
            p.nike-cent $ 260
    div.carousel-item
        .item-position
            img.nike-img(src='assets/img/Layer52.jpg')
            p.nike-title Nike shoes   Shop Outdoors
            p.nike-cent $ 350
    div.carousel-item
        .item-position
            img.nike-img(src='assets/img/Layer51.jpg')
            p.nike-title Nike shoes   Shop Outdoors
            p.nike-cent $ 125
    div.carousel-item
        .item-position
            img.nike-img(src='assets/img/Layer54.jpg')
            p.nike-title Nike shoes   Shop Outdoors
            p.nike-cent $ 260



script
    include carousel.js