@font-face
  font-family MyriadPro
  src url("fonts/MyriadPro-Bold.svg")
      url("fonts/MyriadPro-Bold.woff")
      url("fonts/MyriadPro-Bold.ttf")
  font-weight 700
  font-style normal

@font-face
  font-family MyriadPro
  src url("fonts/MyriadPro-LightSemiExt.svg")
  url("fonts/MyriadPro-LightSemiExt.woff")
  url("fonts/MyriadPro-LightSemiExt.ttf")
  font-weight 300
  font-style normal

@font-face
  font-family MyriadPro
  src url("fonts/MyriadPro-Regular.svg")
  url("fonts/MyriadPro-Regular.woff")
  url("fonts/MyriadPro-Regular.ttf")
  font-weight 400
  font-style normal