


mixin article(title)
   .title-content
       h2=title
       if block
           block
       else
               p  Bring to the table win-win survival strategies to ensure proactive domination.
               p  At the end of the day, going forward,
       +link('##','View Now')
          if block
              block
