
.social-item{
  width: 100%;
  height: 100%;
}

.cls-1 {
  fill: #151515;
}
.cls-1:hover{
  fill: white;
}
.cls-1, .cls-2 {
  fill-rule: evenodd;
}
.cls-2 {
  fill: #fff;
}
.social-item{
  margin-bottom: 30%;
}