style
    include slider.scss

.fade
    .img-slide
        img(src='assets/img/foot.jpg')
    .img-slide
        img(src='assets/img/Layer41.jpg')
    .img-slide
        img(src='assets/img/Layer42.jpg')
    .img-slide
        img(src='assets/img/Layer43.jpg')
    .img-slide
        img(src='assets/img/Layer44.jpg')








script
    include slider.js