style
    include menu.scss

.content
    a#menu-button
    #hamburger-menu
        nav
           a(href='##') Home
            a(href='##') About
               a(href='##') Works
                a(href='##') Contact
                    a(href='##') Works
                        a(href='##') Contact
                        a(href='##') Works
                            a(href='##') Contact
        nav
            a(href='##') Home
                a(href='##') About
                    a(href='##') Works
                        a(href='##') Contact
                            a(href='##') Works
                                a(href='##') Contact
                                a(href='##') Works
                                    a(href='##') Contact
    #overlay




script
    include menu.js
