
#menu-button {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  background: #111;
  border-radius: 5px;
  z-index: 200;}

 #menu-button:after {
    position: absolute;
    content: "☰";
    font-size: 40px;
    color: #FFF;
    width: 50px;
    height: 50px;
    text-align: center;
    top:15px;
   right: 1px;
  }
#menu-button:hover {
    opacity: .8;
  }


#menu-button.on :after
   {
    content: "x";
  }


#overlay {
  display: none;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 99;
  opacity: 0;
  background-color: rgba(0,0,0,0.4);
  bottom: 0;
  right: 0;
  left: 0;
}

#overlay.open {
  display: block;
}

#hamburger-menu {
  display: grid;
  height: 0;
  width: 0;
  background-color: #e9e9e9;
  position: fixed;
  top: 20px;
  left:50%;
  z-index: 101;
  overflow: hidden;
  border-radius: 5px;}

  nav {
    flex-flow: column wrap;
    justify-content: center;
    display: flex;
    padding: 10px;
    z-index: 101;
    overflow-y: hidden;
    overflow-x: hidden;}

  a {
    margin-left: 5px;
     margin-bottom: 15px;
      display: block;
      height: 1em;
      color: black;
      font-size: 1em;
      line-height: 1em;
      text-decoration: none;
      overflow: hidden;}

  a:hover {
        cursor: pointer;
        color: #FFF;
        background: rgba(255,255,255,0.02);
      }


